<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/images/client.ico">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Interaction Connect Credentials</title>
  </head>
  <body>
    <div class="main_container">
      <header class="header_logo">
          <img src="/images/GEN_id_rev_rgb.png" alt="Genesys">
      </header>
      <section class="container">
        <div class="container_form">
          <h1>Enter your Interaction Center credentials</h1>
          <form action="/submitCred" method="POST" name="form1">
            <input id="icUserName" type="text" name="icUserName" placeholder="User Name" required/>
            <input id="icPwd" type="password" name="icPwd" placeholder="Password" required/>
            <input id="icServerName" type="text" name="icServerName" placeholder="Server Name" required/>
            <div class="enable_auto_disconnect">
              <label for="icEnableAutoDisconnectOnReplay">Enable Auto Disconnect on Reply:</label>
              <input id="icEnableAutoDisconnectOnReplay"  type="checkbox" name="icEnableAutoDisconnectOnReplay" />
            </div>
            <input type="submit" value="Log In & Next" />
            <% if (statusMessage) { %>
              <div class="alert-danger"><strong><%= statusMessage %> Check login details.</strong></div>
            <% } %>
          </form>
        </div>
      </section>
      <footer class="footer">
        <h1>Version: <%= version %></h1>
      </footer>
    </div>
  </body>
</html>