<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Salesforce Credentials</title>
    <link rel="shortcut icon" href="/images/client.ico">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="main_container">
      <header class="header_logo">
          <img src="/images/GEN_id_rev_rgb.png" alt="Genesys">
      </header>
      <section class="container">
        <div class="container_form"> 
          <h1>Enter your Salesforce credentials</h1>
          <form action="/submitSfCred" method="POST" name="form2">
            <input id="sfUserName" type="text" name="sfUserName" placeholder="User Name" required/>
            <input id="sfPwd" type="password" name="sfPwd" placeholder="Password" required/>
            <input id="sfToken" type="text" name="sfToken" placeholder="Security Token" required/>
            <input type="submit" value="Verify & Save"/>
            <% if (statusMessage) { %>
              <div class="alert-danger"><strong><%= statusMessage %></strong></div>
            <% } %>
           
          </form>
        </div>
      </section>
      <footer class="footer">
        <h1>version: <%= version %></h1>
      </footer>
    </div>
  </body>
</html>