<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Success</title>
    <link rel="shortcut icon" href="/images/client.ico">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="main_container">
      <header class="header_logo">
          <img src="/images/GEN_id_rev_rgb.png" alt="Genesys">
      </header>
      <section class="container">
        <div class="container_form"> 
          <h3>Succesfully logged into Interaction Connect and Salesforce</h3>
        </div>
      </section>
      <footer class="footer">
        <h1>version: <%= version %></h1>
      </footer>
    </div>
  </body>
</html>