body {
    margin: 0;
}
.main_container {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F4F6F9;
}

.header_logo {
    background-color: #ff4f1f;
    opacity: .90;
    /* height: 45px; */
}

.footer {
    border: 1px solid;
    border-color: rgb(216, 221, 230);
    font-size: 8px;
    text-align: center;
}

.header_logo > img {
    width: 100%;
    max-width: 142px;
}

.container {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.container_form {
    background-color: #ffffff;
    padding: 2.25rem;
    border: 1px solid;
    border-radius: .25rem;
    border-color: rgb(216, 221, 230);
}

.container form {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.container form input {
    padding: 12px;
    border: 1px solid #ccc;
    margin: 1%;
    border-radius: 4px;
}

.form_input {
    padding: 12px;
    display: flex;
    flex-direction: row;
}

input[type=submit] {
    background-color: #ff4f1f;
    color: white;
    opacity: .90;
}

.container form .enable_auto_disconnect {
    padding: 12px;
}

.alert-danger {
    color: red;
}